*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
a:link {
    text-decoration: none;
    color:black;
  }
  
  a:visited {
    text-decoration: none;
    color:brown;
  }
  
  a:hover {
    text-decoration: underline;
    color:red;
  }
  
  a:active {
    text-decoration: underline;
    color:blue;
  }
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color:white;
    overflow: hidden;
    margin-right: -5px;
    margin-left: 5px;
}

nav{
    height:10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-top: 20px;
}
body.home{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: auto;
    font-size: 30px;
}
#contact{
    height:5vh;
    padding: 0.75vh 0.5vw;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}